<?xml version="1.0"?>
<launch>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bring_up_multi_robot_scenarios)/rviz/ros1_multi_robot.rviz" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="" output="screen"/> -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_planner_jackalsimulator)/rviz/ros1_3d.rviz" output="screen"/> -->

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="log"/>

</launch>